.advantages {
    min-height: 341px;
    background-color: #222224;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.advantages-item {
    width: 360px;
    text-align: center;
    flex-direction: column;
    @include flex;
    transition-duration: 0.4s;

    &:hover {
        transform:scale(1.1);
    }
}

.adv-title {
    font-size: 20px;
    line-height: 24px;
    color: #FBFBFB;
    margin-top: 25px;
    margin-bottom: 16px;
}

.adv-text {
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    color: #FBFBFB;
}