.header {
    background-color: #222222;
    padding: 20px 0;
}

.header-wrap {
    @include flex (space-between);
}

.link {
    text-decoration: none;
    display: inline-block;
    transition-duration: 0.2s;

    &:hover {
        transform: scale(1.07);
    }
}

.logo-link {
    margin-right: 39px;
}

.account-link {
    margin: 0 33px;
}