.product-sorting {
    display: flex;
    padding-top: 51px;
    padding-bottom: 64px;
}

.product-filter-list {
    width: 360px;
    margin-right: 2px;
    position: relative;
}

.product-filter-details {
    position: absolute;
}

.product-filter-details[open] {
    box-shadow: $shadow;
    padding-top: 13px;
    margin-top: -13px;

    & .filter-summary {
        color: $main-color;
    }

    & .filter-icon {
        fill: $main-color;
    }
}

.filter-summary {
    display: block;
    font-weight: 600;
    font-size: 14px;
    line-height: 17px;
    padding-left: 17px;
}    

.filter {

    &__heading {
        display: block;
        @include text-font(400);
        color: #6F6E6E;
        border-left: 5px solid #EF5B70;
        border-bottom: 1px solid #EBEBEB;
        padding-left: 11px;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    &__heading::-webkit-details-marker {
        display: none;
    }

    &__list {
        list-style-type: none;
        margin-top: 24px;
        margin-bottom: 24px;
        margin-left: 12px;

        &_bottom {
            margin-bottom: 0;
        }
    }

    &__item {
        margin-bottom: 11px;

        & a {
            text-decoration: none;
            @include text-font(400);
            color: #6F6E6E;

        }
    }

    &__content {
        width: 360px;
        background-color: #FFFFFF;
        padding: 17px;
    }

    &__box[open] {
        
        & .filter__heading {
            color: $main-color;
        }
    }

}

.filter-summary::-webkit-details-marker {
    display: none;
}

.filter-icon {
    margin-left: 11px;
}

.product-sort-list {
    display: flex;
    font-size: 14px;
    line-height: 17px;
    color: #6F6E6E;
}

.product-sort-item {
    margin-left: 28px;
}

.product-sort-item::after {
    content: url(../img/arrow-sort-icon.svg);
    padding-left: 10px;
}

.catalog-cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}