.promo {
    background-color: #F1E4E6;
}

.promo-wrap {
    background-image: url(../img/promo-bg.png);
    min-height: 764px;
    background-position-x: -226px;
    background-position-y: bottom;
    background-repeat: no-repeat;
    @include flex (flex-end);
}

.promo-title {
    width: 50%;
    border-left: 12px solid $main-color;
    padding-left: 16px;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
}

.promo-title-bold {
    font-weight: 900;
    font-size: 48px;
    line-height: 58px;
}

.promo-title-pink {
    color: $main-color;
}