.purchasing {
    margin-top: 96px;
    margin-bottom: 128px;
    display: flex;
    justify-content: space-between;

    &__item {
        display: flex;
        min-width: 652px;
        position: relative;
        box-shadow: 17px 19px 24px rgba(0, 0, 0, 0.13);
        font-size: 22px;
        line-height: 26px;
        color: #575757;
        margin-bottom: 40px;

        &_bottom {
            margin-bottom: 0px;
        }
    }

    &__img {
        height: 306px;
        display: block;
    }
    
    &__item-desc {
        padding: 22px 31px 62px 31px;
    }

    &__item-heading {
        max-width: 200px;
        margin-bottom: 41px;
        font-weight: 400;
        font-size: 24px;
        line-height: 29px;
        color: #222222;
    }
    
    &__list {
        list-style-type: none;
    }

    &__list-item {
        margin-bottom: 6px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__text-price {
        color: $main-color;
    }

    &__list-input {
        width: 44px;
        margin-left: 24px;
        font-family: inherit;
        font-size: 18px;
        line-height: 22px;
        color: #656565;
        border: 1px solid #EAEAEA;
    }

    &__btn-close {
        position: absolute;
        top: 28px;
        right: 22px;
        background-color: #fff;
        border: none;
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
            transform: scale(1.2);
        }
    }

    &__btn {
        max-width: 652px;
        display: flex;
        justify-content: space-between;
        margin-top: 72px;

        & button {
            background-color: #FFFFFF;
            border: 1px solid #A4A4A4;;
            padding: 16px 40px;
            font-family: inherit;
            @include text-font;
            text-transform: uppercase;
            cursor: pointer;
            transition-duration: 0.4s;

            &:hover {
                background-color: $main-color;
                border-color: $main-color;
                color: #FFFFFF;
            }

        } 

        & a {
            display: inline-block;
            text-decoration: none;
            border: 1px solid #A4A4A4;;
            padding: 16px 40px;
            @include text-font;
            text-transform: uppercase;
            color: #000000;
            transition-duration: 0.4s;

            &:hover {
                background-color: $main-color;
                border-color: $main-color;
                color: #FFFFFF;
            }
        }
    }

    &__confirm {
        width: 360px;
    }

    &__form {
        margin-bottom: 57px;
    }

    &__form-heading {
        display: inline-block;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;    
    }

    &__form-inp {
        display: inline-block;
        width: 100%;
        padding: 13px 0 16px 17px;
        margin-top: 21px;
        border: 1px solid #A4A4A4;
    }

    &__form-btn {
        margin-top: 24px;
        padding: 10px 14px;
        background-color: #FFFFFF;
        border: 1px solid #A4A4A4;
        font-weight: 300;
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
        background-color: $main-color;
        border: 1px solid $main-color;
        color: #FFFFFF;
        }
    }

    &__total {
        padding: 42px;
        background-color: #F5F3F3;

        & p {
            text-align: right;
        }

        & span {
            margin-left: 25px;
        }

        & hr {
            background-color: #E2E2E2;
            border: 1px solid #E2E2E2;
            margin-top: 21px;
            margin-bottom: 17px;
        } 
    }

    &__sub {
        font-size: 11px;
        line-height: 13px;
        color: #4A4A4A;
        margin-bottom: 12px;
    }

    &__grand {
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #222222;   
    }

    &__grand-price {
        color: $main-color;
    }

    &__total-btn {
        font-family: inherit;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        color: #FFFFFF;
        background-color: $main-color;
        padding: 16px 41px;
        border: 1px solid #FFFFFF;
        cursor: pointer;
        transition-duration: 0.4s;

        &:hover {
        color: $main-color;
        background-color: #FFFFFF;
        border: 1px solid $main-color;
        }
    }
}

// tablet

@media (max-width: 1069px) {
    .purchasing {
        flex-direction: column;

        &__box {
            margin-bottom: 64px;
        }

        &__item {
            max-width: 100%;
        }

        &__btn {
            max-width: 100%;
            justify-content: center;

            & button {
                margin-right: 6%;
            }
        }

        &__confirm {
            width: 100%;
            display: flex;
            justify-content: space-between;
        }

        &__form {
            width: 360px;
        }

        &__total {
            align-self: start;
            margin-top: 40px;
        }
    }
}

// mobile

@media (max-width: 788px) {
    .purchasing {
        &__confirm {
            flex-direction: column;
        }

        &__form {
            width: 100%;
        }

        &__item {
            min-width: 57%;
            height: 188px;
            @include text-font(400);
        }

        &__item-desc {
            padding: 13px 17px 37px 17px;
        }

        &__item-heading {
            width: 140px;
            font-size: 16px;
            line-height: 19px;
            margin-bottom: 26px;
        }

        &__list-item {
            margin-bottom: 4px;
        }

        &__btn-close {
            transform: scale(0.55);
            top: 13px;
            right: 12px;

            &:hover {
                transform: scale(0.75);
            }
        }

        &__btn {
            margin-top: 30px;

            & button {
                font-size: 12px;
                line-height: 14px;
                margin-right: 2.5%;
                text-transform: none;
                padding: 11px 36px;
            }

            & a {
                font-size: 12px;
                line-height: 14px;
                text-transform: none;
                padding: 11px 36px;
            }
        }

        &__total {
            align-self: auto;
            margin-top: 0;
        }
    }
    
}