.slider {
    min-height: 777px;
    padding-top: 11px;
    background-color: #F7F7F7;
    @include flex ();
    position: relative;
    padding-bottom: 64px;

    &__btn {
        border: none;
        background-color: rgba(42, 42, 42, 0.15);
        padding: 13px 17px;
        font-size: 21px;
        position: absolute;
        transition-duration: 0.4s;


        &:hover {
            color: $main-color;
        }

        &_left {
            left: 0;
        }

        &_right {
            right: 0;
        }
    }
}

.product-cards-content {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 98px;
}